:root {

    /*USE THESE FOR BACKGROUNDS*/
    --color-primary-light-5: #98def6;
    --color-primary-light-4: #83d7f4;
    --color-primary-light-3: #6ed0f2;
    --color-primary-light-2: #59c9f1;
    --color-primary-light-1: #45c3ef;
    --color-primary: #30BCED;
    --color-primary-dark-1: #2ba9d5;
    --color-primary-dark-2: #2696be;
    --color-primary-dark-3: #2284a6;
    --color-primary-dark-4: #1d718e;

    --color-secondary: #FC5130;
    --color-secondary-light-1: #fd7459;
    --color-secondary-light-2: #fd9783;
    --color-secondary-dark-1: #ca4126;
    --color-secondary-dark-2: #97311d;

    /*GREY COLORS FOR RANDOM ITEMS*/
    --color-grey-light-10: #fbfbfb;
    --color-grey-light-9: #fafafa;
    --color-grey-light-8: #f6f6f6;
    --color-grey-light-7: #f1f1f1;
    --color-grey-light-6: #ececec;
    --color-grey-light-5: #e8e8e8;
    --color-grey-light-4: #e3e3e3;
    --color-grey-light-3: #dedede;
    --color-grey-light-2: #d9d9d9;
    --color-grey-light-1: #d5d5d5;
    --color-grey: #D0D0D0;
    --color-grey-dark-1: #bbbbbb;
    --color-grey-dark-2: #a6a6a6;
    --color-grey-dark-3: #929292;
    --color-grey-dark-4: #7d7d7d;
    --color-grey-dark-5: #686868;
    --color-grey-dark-5: #686868;
    --color-grey-dark-6: #535353;
    --color-grey-dark-7: #3e3e3e;

    /*THESE ARE USED FOR TYPOGRAPHY*/
    --color-primary-typography: #FC5230;
    --color-primary-typography-light-1: #FC7459;
    --color-primary-typography-light-2: #FDA897;
    --color-primary-typography-dark-1: #B03921;
    --color-primary-typography-dark-2: #642013;

    /*DROP SHAADOW FOR RANDOM ITEMS, INCLUDING TYPOGRAPHY*/  
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

header {
    position: fixed;
    min-width: 100%;
    top: 0;
    z-index: 1000;
}

body {
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    line-height: 1.6;
    color:var(--color-primary-typography-dark-1);
    background-image: linear-gradient(to right bottom, var(--color-primary-dark-1), var(--color-primary-light-3));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    

    
}