:root {
    --color-primary: #30BCED;
    --color-primary-light: #63C6D9;
    --color-primary-dark: #0D49A2;
    
    --color-grey: #E8E8E8;
    --color-grey-light: #F5F5F5;
    --color-grey-dark: #707070;

    --color-primary-typography: #952D2D;
    --color-primary-typography-light: #FC5130;
    --color-primary-typography-dark: #888484;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color:var(--color-primary-typography);
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    

    
}