/*These are the colors used throughout the dashboard*/

/*
Primary: #30BCED
Primary light: #63C6D9
Primary dark: #0D49A2

Grey: #CECECE
Grey light: #EDEDED
Grey dark: #707070

Primary typography: #952D2D
Primary typography light: #FC5130
Primary typography dark: #888484
*/

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #30BCED;
}